<h1>People Records</h1>

<% @people.each do |person| %>
  <div class='card' style='width: 320px;'>

  <li class='list-group-item'>
    <%= link_to person.name, person_path(person) %>
  </li>
  </ul>
<% end %>
</div>

<div>
<%= link_to 'Create New Record', new_person_path, :class => 'btn btn-primary' %>
</div>
